.App {
  text-align: center;
  border: 2px solid;
  margin: 150px;

}
h6{
  color:grey;
}
p{
  color:rgb(71, 70, 70);
}
.bg {
  background-color: rgba(10, 6, 255, 0.807);
}

#tag1 {
  border: 2px solid;
  margin: 40px;
  padding: 20px;
  background-color: white;
  min-width: 200px;
  border-radius: 4%;


}

#tag2 {
  border: 2px solid;
  margin: 40px;
  padding: 20px;
  background-color: white;
  min-width: 200px;
  border-radius: 4%;

}

#tag3 {
  border: 2px solid;
  margin: 40px;
  padding: 20px;
  background-color: white;
  min-width: 200px;
  border-radius: 4%;

}

.d-grid {
  display: block;
  border-radius: 50%;
}